// circle plot

.dot-plot-overall {
  display: flex;
  .sex-block {
    .label {
      font-size: 30px;
      margin-left: 80px;
    }

    .sex-ratio-circle-wrapper {
      display: inline-block;
      width: 200px;
      padding: 20px;

      .sex-ratio-circle-boy {
        float: left;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 3px;
        background-color: #477091;
        border-radius: 50%;
      }

      .sex-ratio-circle-girl {
        @extend .sex-ratio-circle-boy;
        background-color: #8a3821;
      }
    }
  }
}




// obsolete
#new-born-number-visualization {
  margin-top: 80px;
  margin-bottom: 160px;
  display: flex;
  justify-content: space-evenly;

  #new-born-number-china {
    text-align: center;

    .number {
      font-size: 50px;
      color: darkred;
      padding: 30px 40px;
      display: inline-block;
      border: 2px darkred solid;
    }

    .caption {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  #new-born-number-natural {
    @extend #new-born-number-china;
    .number {
      color: forestgreen;
      border: 2px forestgreen solid;
    }
  }
}



