.page {
  margin-left: 200px;
  margin-right: 200px;
}

.title {
  border-top: 1px black;
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 20px;
}

.secondary-title {
  //text-align: center;
  max-width: 800px;
  font-size: 24px;
  margin-top: 30px;
}

.horizontal-line {
  border-top: 1px solid grey;
  height: 0;
  width: 100%
}