.page {
  margin-left: 200px;
  margin-right: 200px;
}

.title {
  border-top: 1px black;
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 20px;
}

.secondary-title {
  font-size: 20px;
}