.page {
  background: grey;
}

.page-contents {
  margin-left: 100px;
  margin-top: 70px;
}

.title {
  color: black;
  font-size: 40px;
}

.secondary-title {
  max-width: 800px;
  font-size: 24px;
  margin-top: 30px;
}

.visualization {
  position: sticky;
  top: 200px;
  width: 50%;
  height: 400px;
  margin: 10px;
  border: solid grey 1px;
}

.accompany-text {
  min-height: 900px;
}

.accompany-text-all {
  margin-top: -400px;
  left: 55%;
  margin-left: 55%;
  padding: 40px;
  background: white;
  width: 30%;
}